body{
	background-color: #303030;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0 !important;
	padding: 0;
}

.wrapper{
	width: 100%;
}

.header{
	width: 100%;
	padding: 40px 0;
	background-color: gray;
}

.logo{
	background-color: gray;
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	text-align: center;
	font-size: 48px;
}

.logo img{
	float: left;
}

.lretro{
	color: #c34f4f;
}

.nav{
	width: 100%;
	padding: 5px 0;
	background-color: #c34f4f;
	text-align: center;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
	height: 40px;
	/* position: fixed; */
}

.nav ol{
	
}

.nav ol>li{
	display: inline-block;
	padding: 0 25px;
	border-right: 2px dashed gray;
}

.nav ol>li:firstchild{
	border-left: 2px dashed gray;
}

.nav ol>li>ul{
	display: none;
}

.nav ol>li:hover>ul{
	display: block;
}

.nav ol>li>ul>li{
	
}

.content{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: justify;
}

.socials{
	width: 100%;
	text-align: center;
	background-color: #292929;
}

.socialsdivs{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;	
}

.fb{
	width: 250px;
	height: 155px;
	float: left;
}

.fb:hover{
	background-color: #4668b3;
}

.yt{
	width: 250px;
	height: 155px;
	float: left;
}

.yt:hover{
	background-color: #d94348;
}

.tw{
	width: 250px;
	height: 155px;
	float: left;
}

.tw:hover{
	background-color: #3095d3;
}

.gplus{
	width: 250px;
	height: 155px;
	float: left;
}

.gplus:hover{
	background-color: #d95333;
}

.footer{
	text-align: center;
}